[Desktop Entry]
Type=Application
Name=PortfolioPerformance
Comment=A simple tool to calculate the overall performance of an investment portfolio.
Exec=PortfolioPerformance %f
Icon=org.portfolio.portfolioperformance
Terminal=false
Categories=Office
